* {
    font-family: 'Chakra Petch', sans-serif;
    scroll-behavior: smooth;
}
body {
  padding-top: 10em;
  
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.navbar a{
 color: black;
 font-weight: 500;
 font-size: 1.5rem;
 margin: 1rem 2rem;
 box-shadow: inset 0 0 0 0 rgb(0, 132, 255);
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#me {
	overflow: hidden;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

#myname {
    overflow: hidden;
    border-right: .15em solid rgb(0, 132, 255); 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .13em; 
    animation: 
      typing 3s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 132, 255); }
  }

  .navbar a:hover{
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    box-shadow: inset 200px 0 0 0 rgb(0, 132, 255);
   }

   #school {
    border-radius: 16px;
    box-shadow: inset 500px 0 0 0 rgb(0, 132, 255);
    color: white;
   }

   .snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
  }

  
